@import './fonts'
@import './mixin'

*
  box-sizing: border-box
  outline: none
  user-select: none
  margin: 0
  padding: 0

html
  overflow: hidden

body
  position: absolute
  height: 100%
  width: 100%
  font-family: GothamPro, SansSerif
  letter-spacing: rem(2)
  background: #31a0f0
