@import './fonts'
@import './mixin'

*
  box-sizing: border-box
  outline: none
  user-select: none
  margin: 0
  padding: 0

html
  overflow: hidden
  height: 100%

body
  position: absolute
  height: 100%
  width: 100%
  overflow: auto
  font-family: GothamPro, SansSerif
  background: #31a0f0
