<div class="md-home-clients">
  <img class="md-home-clients__logo" src="assets/logo.svg" alt="">
  <img class="md-home-clients__background" src="assets/background-home-clients.png" alt="">
  <div class="md-home-clients__content">
    <div class="md-home-clients__content__caption">Наши <br/> клиенты</div>
    <div class="md-home-clients__content__description">Нашими клиентами являются различные торговые
      организации и предприятия, которые заинтересованы в эффективном продвижении своей продукции, а
      так же ивент агенства которым мы помогаем
      в проведении ярких праздников и событий.
    </div>
    <div class="md-home-clients__content__description">Они прочны, надежны, долговечны, не выгорают
      под действием ультрафиолетовых лучей и достаточно долгое время не теряют своего
      первоначального цвета и привлекательности.
    </div>
  </div>
</div>
