<div class="md-requirements-vector">
  <h2>Требования к векторным<br/> изображениям</h2>
  <div class="md-requirements-vector__items">
    <div class="md-requirements-vector__items_left">
      <span class="md-requirements-vector__item">
        &bull; задайте цветовую модель макета CMYK
      </span>
      <span class="md-requirements-vector__item">
        &bull; Тексты, используемые в макете, переведите в кривые
      </span>
      <span class="md-requirements-vector__item">
        &bull; Если макет предоставляется в уменьшенном формате, (например, 1:10), важно
        проверить, установлена ли в контурах опция Scale with image («Масштабировать с  изображением»)
      </span>
    </div>
    <div class="md-requirements-vector__items_right">
      <span class="md-requirements-vector__item">
        &bull; Контуры — обводки изображений и особенно шрифтов — при толщине
        более 2 мм конвертируйте в объекты. Все эффекты, используемые в Corel Draw, переводите
        в растр. Это позволит избежать некорректной печати вывесок, изготовлении пресс-волла,
        ростовых фигур, фотостенда, печати мобильных стендов и др.
      </span>
      <span class="md-requirements-vector__item">
        &bull; Сгруппируйте элементы макета и расположите внутри макета для печати
      </span>
    </div>
  </div>
</div>
