<div class="md-contacts">
  <div class="md-contacts__caption">Написать<br/>нам письмо</div>
  <div class="md-contacts__info">
    <div class="md-contacts__info-caption">
      Контактная <br/>информация
    </div>
    <div class="md-contacts__info-heading">Телефон:</div>
    <a href="#" class="md-contacts__info-link">+38 (068) 303 53 40</a>
    <div class="md-contacts__info-heading">Наш email:</div>
    <a href="#" class="md-contacts__info-link">info@beststand.com.ua</a>
  </div>
  <form class="md-contacts__form">
    <div class="md-contacts__form-group md-contacts__form-group_left">
      <input type="text" class="md-contacts__form-control" placeholder="Введите имя" required>
      <img src="assets/man-icon.svg" class="md-contacts__form-icon" alt="">
    </div>
    <div class="md-contacts__form-group md-contacts__form-group_right">
      <img src="assets/mail-icon.svg" class="md-contacts__form-icon" alt="">
      <input type="email" class="md-contacts__form-control" placeholder="Введите почту" required>
    </div>
    <textarea class="md-contacts__form-textarea" placeholder="Напишите нам свои примечания к заказу"></textarea>
    <div class="md-contacts__form-group">
      <span class="md-contacts__form-info">Наш менеджер ответит вам в ближайшее время.</span>
      <button type="submit" class="md-contacts__form-button">Отправить</button>
    </div>
  </form>
</div>
