@import '../../../../styles/mixin'

.md-home-advantage
  width: rem(240)
  margin-top: rem(60)
  float: left

.md-home-advantage__image
  height: rem(168)
  width: rem(168)
  background: #2d92db
  border-radius: rem(10)
  position: relative

  > img
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    max-width: 90%
    max-height: 90%

.md-home-advantage__content
  padding: 0 rem(8)

.md-home-advantage__title
  margin-top: rem(50)
  color: #fff
  font-size: rem(22)
  letter-spacing: rem(2)
  height: rem(17)
  font-weight: bold
  white-space: nowrap

.md-home-offer__sub-line
  margin-top: rem(20)
  width: rem(40)
  height: rem(6)
  background: #fff

.md-home-advantage__description
  margin-top: rem(25)
  font-size: rem(16)
  line-height: rem(22)
  color: #99c1f1
