<div class="md-home">
  <img class="md-home__background" src="assets/home-background-1.png" alt="">
  <div class="md-home__top">
    <img src="assets/transformers.png" alt="">
    <div class="md-home__content">
      <span class="md-home__content__h2">Высококачественные</span>
      <span class="md-home__content__h1">Стенды</span>
      <span class="md-home__content__h3">С ярким дизайном,  доставкой и монтажом по доступным ценам</span>
      <button class="md-home__content__button">Продукция</button>
    </div>
    <div class="md-home__description">Изготовление стендов из картона, пластика и металлической трубы</div>
  </div>
  <div class="md-home__offers">
    <home-offers></home-offers>
  </div>
</div>
