@import '../../styles/mixin'

.md-home
  width: 100%
  height: rem(650)

.md-home__background
  position: absolute
  top: 0
  width: 100%
  z-index: -1

.md-home__top
  position: relative
  height: rem(720)

  > img
    display: block
    position: absolute
    top: rem(34)
    left: 13%
    width: 24%
    max-height: 100%

.md-home__content
  position: absolute
  top: rem(170)
  left: 42%
  width: 40%
  height: rem(200)

.md-home__content__h1,
.md-home__content__h2,
.md-home__content__h3
  display: block
  width: 100%

.md-home__content__h2
  color: #f7f5f8
  font-size: rem(32)
  text-indent: rem(-2)
  font-weight: bold
  text-transform: uppercase

.md-home__content__h1
  color: #0459ad
  font-size: rem(104)
  font-weight: bold
  text-indent: rem(-5.44)
  text-transform: uppercase

.md-home__content__h3
  color: #f7f5f8
  font-size: 1.4rem
