<div class="md-product-order">
  <form class="md-product-order__form" [formGroup]="orderForm" (ngSubmit)="submitOrder()" novalidate>
    <table>
      <tr>
        <td>Имя</td>
        <td><input formControlName="name" type="text" [(ngModel)]="order.name"></td>
      </tr>
      <tr>
        <td>Телефон</td>
        <td><input formControlName="phone" type="text" [(ngModel)]="order.phone"></td>
      </tr>
      <tr>
        <td>E-mail</td>
        <td><input formControlName="email" type="text" [(ngModel)]="order.email"></td>
      </tr>
      <tr>
        <td>Пожелания</td>
        <td><textarea formControlName="comments" [(ngModel)]="order.comments" rows="7"></textarea></td>
      </tr>
    </table>
    <div class="md-product-order__button">
      <rounded-button type="submit">Отправить</rounded-button>
    </div>
  </form>
</div>
