@import '../../styles/constants'
@import '../../styles/mixin'

.md-product
  padding: rem(80) rem(100) rem(60) rem(600)
  position: relative

.md-product__image
  width: rem(490)
  height: 100%
  left: rem(44)
  top: 0
  position: absolute
  text-align: center

  > img
    max-width: 100%
    max-height: 70%
    position: absolute
    display: block
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)

.md-product__content
  color: #FFFFFF
  position: relative

.md-product__section
  padding: 0 rem(60) rem(30) 0
  border-bottom: rem(2) solid #62aff0

  > h3
    font-size: font-size(35)
    text-transform: uppercase
    font-weight: 500
    letter-spacing: rem(2)

  > p
    padding-top: rem(30)
    line-height: rem(22)
    font-size: font-size(14)
  b
    font-weight: bold

.md-product__info-table
  margin-top: rem(35)

  tr
    height: rem(35)

  td
    vertical-align: middle
    font-size: font-size(14)

    &:first-of-type
      white-space: pre
      min-width: rem(150)
      padding-right: rem(15)

.md-product__trigger
  width: rem(20)
  height: rem(20)
  position: relative
  background: #FFFFFF
  margin: rem(5)
  border-radius: 15%

  > input
    opacity: 0
    position: absolute
    width: 100%
    height: 100%
    z-index: 1

    & + div
      position: absolute
      height: 100%
      width: 100%
      background: url('../../../assets/checked.svg') no-repeat 50% 50%
      background-size: 70% auto
      opacity: 0

    &:checked + div
      opacity: 1

.md-product__price
  > span
    padding: 0 rem(50)

.md-product__button
  text-align: right
  padding: rem(30) 0

