<div class="md-home-top">
  <img src="assets/transformers.png" alt="">
  <div class="md-home-top__content">
    <span class="md-home-top__content__h2">Высококачественные</span>
    <span class="md-home-top__content__h1">Стенды</span>
    <span
      class="md-home-top__content__h3">С ярким дизайном,  доставкой и монтажом по доступным ценам</span>
    <div class="md-home-top__button">
      <rounded-button>Продукция</rounded-button>
    </div>
  </div>
  <div class="md-home-top__description">Изготовление стендов из картона, пластика и металлической
    трубы
  </div>
</div>
