<div class="md-requirements-typographic">
  <h2>Как передать макет<br/> типографии?</h2>
  <span class="md-requirements-typographic__description">Для изготовления пресс-волла, вывески, стенда и других
    <br/>изделий макет можно передать на обычной «флешке»,
    <br/>диске или внешнем жестком диске (HDD).
    <br/>
    <br/>
    <br/>Также макет (размером до 20 Мб) или ссылку
    <br/>на файлообменник можно отправить по почте:
    <br/><a href="mailto:info@beststand.com.ua">info@beststand.com.ua</a>
    <br/>
    <br/>
    <br/>
    <br/>Вы всегда можете уточнить детали или
    <br/>подтвердить получение макета, позвонив нам:
    <br/>
    <br/>+38 (068) 303 53 40
    <br/>+38 (066) 153 33 99
  </span>
  <img class="md-requirements-typographic__image" src="assets/icon-typographic.png" alt="">
</div>
