<div class="md-requirements-raster">
  <h2>Требования к растровым<br/> изображениям</h2>
  <h3>Печать пресс-волла, фотостенда, мобильных стендов,
    <br/> вывесок и т.д. требует соблюдения нескольких правил:
  </h3>
  <div class="md-requirements-raster__items">
    <span class="md-requirements-raster__item">
      &bull; задайте цветовую модель макета <b>CMYK</b>
    </span>
    <span class="md-requirements-raster__item">
      &bull; помните о наиболее оптимальном объеме файла
      <br/>— <b>до 200 Мб</b>
    </span>
    <span class="md-requirements-raster__item">
      &bull; сведите все слои в <b>единый слой Background</b>,
      <br/>исключите альфа-каналы (Channels), пути (Paths)
      <br/>и сжатие (LZV-compression)
    </span>
    <span class="md-requirements-raster__item">
      &bull; макеты для печати растровых изображений
      <br/><b>передаются в размере 1:1</b>
    </span>
  </div>
</div>
